<div class="form-details-wrapper">
	<button mat-button class="back" (click)="back()">
		<fa-icon [icon]="arrowIcon"></fa-icon>
		Back
	</button>
	<h2 class="form-name">{{currentForm.name}}</h2>
	<h2 class="form-description">{{currentForm.description}}</h2>
	<mat-tab-group>
	  <mat-tab label="Overview">
		<app-form-details [_currentForm]="currentForm"></app-form-details>
	  </mat-tab>
	  <mat-tab label="Data">
	  	<app-form-data [_currentForm]="currentForm"></app-form-data>
	  </mat-tab>
	</mat-tab-group>
</div>
<app-menu></app-menu>
