.form-details-wrapper{
	width: 60rem;

	margin: auto;
	margin-bottom: 5%;
	padding: 2rem 4rem;

	background: #FBFAF9;
	box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.form-details-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.share-button{
  width: 4rem;
  height: 4rem;
}

.form-name{
	font-size: 3rem;
	font-weight: 400;
	margin: 1rem 0;
}

.form-description{
	font-size: 2rem;
	font-weight: 300;
}

.back{
	width: 8rem;
	display: flex;
	align-items: center;
}

.back .mat-button-wrapper{
	display: flex !important;
	justify-content: space-around !important;
}
