<div class="form-wrapper" [formGroup]="_formData">
	<mat-form-field>
		<mat-label>Form name</mat-label>
		<input class="form-name form-input" matInput formControlName="formName" type="text" placeholder="Your form name" value="NewForm">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Form description</mat-label>
		<input class="form-description form-input" matInput formControlName="description" type="text" placeholder="Form description" value="Tell respondents about your form">
	</mat-form-field>
	<div class="questions-wrapper" *ngFor="let question of questions">
		<app-question [_question]="question" [_isEditable]="true"></app-question>
	</div>
	<button mat-fab color="accent" class="add-form-button" (click)="newQuestion()">
		<fa-icon [icon]="plusIcon" size="lg"></fa-icon>
	</button>

	<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!_formData.valid">Submit</button>
</div>