<div class="question" [formGroup]="_questionForm">
	<div class="question-header">
    <h3 class="question-position" *ngIf="!_isThemed">{{_question.position}}.</h3>
		<mat-form-field class="question-text">
			<mat-label>Question text</mat-label>
			<input class="form-name form-input" matInput formControlName="text" type="text" placeholder="What do you want to ask?" value="" [readonly]="!_isEditable">
		</mat-form-field>
		<mat-form-field *ngIf="_isEditable">
	  		<mat-label>Select type of question</mat-label>
			  <mat-select formControlName="type">
			  	<option label="--select something --"></option>
			    <mat-option *ngFor="let type of questionTypes" value="{{type.id}}">{{type.name}}</mat-option>
			  </mat-select>
		</mat-form-field>
    <div *ngIf="!_isThemed">
      <button mat-icon-button class="delete-question-button"
              (click)="deleteQuestion()">
        <fa-icon [icon]="closeIcon" size="lg"></fa-icon>
      </button>
    </div>
    <div *ngIf="_isThemed && _isThemeFirst">
      <button mat-icon-button class="delete-question-button"
              (click)="deleteTheme()">
        <fa-icon [icon]="closeIcon" size="lg"></fa-icon>
      </button>
    </div>
	</div>
  <div class="question-body">
    <div class="question-options" [ngSwitch]="_questionForm.controls['type'].value">
      <div *ngSwitchCase="'1'">
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input matInput type="text" placeholder="" value="" readonly>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'2'">
        <div class="question-options-group" formArrayName="choices">
          <mat-radio-button class="question-option" *ngFor="let option of optionsArray.controls; let i=index" [formGroupName]="i">
            <div class="option-wrapper">
              <mat-form-field>
                <input matInput type="text" formControlName="val" [readonly]="!_isEditable" required>
              </mat-form-field>
              <button mat-icon-button class="delete-option-button" (click)="deleteOption(i)">
                <fa-icon [icon]="closeIcon" size="lg"></fa-icon>
              </button>
            </div>
          </mat-radio-button>
        </div>
        <button mat-stroked-button color="primary" *ngIf="_isEditable" class="add-option-button" (click)="addOption()">Add option</button>
      </div>
      <div *ngSwitchCase="'3'">
        <div class="question-options-group" formArrayName="choices">
          <mat-checkbox class="question-option" *ngFor="let option of optionsArray.controls; let i=index" [formGroupName]="i">
            <div class="option-wrapper">
              <mat-form-field>
                <input matInput type="text" formControlName="val" [readonly]="!_isEditable" required>
              </mat-form-field>
              <button mat-icon-button class="delete-option-button" (click)="deleteOption(i)">
                <fa-icon [icon]="closeIcon" size="lg"></fa-icon>
              </button>
            </div>
          </mat-checkbox>
        </div>
        <button mat-stroked-button color="primary" *ngIf="_isEditable" class="add-option-button" (click)="addOption()">Add option</button>
      </div>
    </div>
    <div class="question-required">
      <mat-slide-toggle class="question-slider" formControlName="required">
        Required
      </mat-slide-toggle>
    </div>
  </div>
</div>
