<div class="question" [formGroup]="data">
  <div class="question-header">
    <h3>
      <span class="question-position">{{question.position}}.</span>
      {{question.text}}
      <span class="required" *ngIf="question.isRequired">*</span>
    </h3>
  </div>
  <div class="question-body">
    <div class="question-options" [ngSwitch]="question.typeId">
      <div *ngSwitchCase="'1'">
        <mat-form-field>
          <mat-label>Your answer</mat-label>
          <input matInput type="text" placeholder="Your answer" formControlName="answer">
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'2'">
        <div>
          <mat-radio-group  formControlName="answer" class="question-options-group">
            <mat-radio-button class="question-option" *ngFor="let option of question.questionChoices" [value]="option.text">
              <div class="option-wrapper">
                {{option.text}}
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngSwitchCase="'3'">
        <div class="question-options-group">
          <mat-checkbox class="question-option" formControlName="answer" *ngFor="let option of question.questionChoices" [value]="option.text">
            <div class="option-wrapper">
              {{option.text}}
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
