.question{
  position: relative;
}

.question, .question-options, .question-options-group{
  display: flex;
  flex-direction: column;
}

.question-header, .question-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-position{
  color: dimgray;
}

.required{
  color: darkred;
}
