<div class="form-wrapper">
	<h1>Добро пожаловать!</h1>
	<h2>
		Чтобы продолжить, войдите или <a href="">зарегистрируйтесь</a>
	</h2>
	<form [formGroup]="_loginForm" class="login-form">
		<mat-form-field>
    		<mat-label>Логин</mat-label>
    		<input matInput formControlName="login" placeholder="coolLogin" value="">
			<mat-error *ngIf="_loginForm.controls['login'].hasError('required')">
				Введите логин
			</mat-error>
  		</mat-form-field>
  		<mat-form-field>
    		<mat-label>Пароль</mat-label>
    		<input matInput type="password" formControlName="password" placeholder="YourPassword" value="">
    		<mat-hint>Пароль должен быть не меньше 5 символов</mat-hint>
  		</mat-form-field>
		<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!_loginForm.valid">Войти</button>
	</form>
</div>

