<div class="form-wrapper">
	<h1>Welcome!</h1>
	<h2>
		To continue log into existing account or <a routerLink="/registration">create one</a>
	</h2>
	<form [formGroup]="_loginForm" class="login-form">
		<mat-form-field>
    		<mat-label>Email</mat-label>
    		<input matInput formControlName="email" type="email" placeholder="your@mail.com" value="">
			<mat-error *ngIf="_loginForm.controls['email'].hasError('required')">
				Please tell us your email
			</mat-error>
  		</mat-form-field>
  		<mat-form-field>
    		<mat-label>Password</mat-label>
    		<input matInput type="password" formControlName="password" placeholder="YourPassword" value="">
    		<mat-hint>Password has to be minimum 5 characters</mat-hint>
  		</mat-form-field>
		<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!_loginForm.valid">Log in</button>
	</form>
</div>

