<app-loader [loading]="loading"></app-loader>
<div *ngIf="!loading">
  <div class="survey-wrapper">
    <h2 class="form-name">{{survey.title}}</h2>
    <h2 class="form-description">{{survey.description}}</h2>
    <hr class="divider"/>
    <div class="questions-wrapper">
      <div *ngFor="let question of survey.questions; let i=index">
        <div class="theme" *ngIf="question?.themeId || question.themeId==0; else elseBlock">
          <h1>{{findTheme(question.themeId).title}}</h1>
          <div class="theme-questions-wrapper" *ngFor="let themeQuestion of findTheme(question.themeId).questions; let j=index">
            <app-survey-question [question]="themeQuestion" [response]="pollResponse.responses[j]" (valid)="onQuestionValid($event)"></app-survey-question>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="question-wrapper">
            <app-survey-question [question]="question" [response]="pollResponse.responses[i]" (valid)="onQuestionValid($event)"></app-survey-question>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="buttons-wrapper">
      <button mat-raised-button color="primary" (click)="sendPollResponse()" [disabled]="!valid">Send answer</button>
    </div>
  </div>
</div>
