/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Open+Sans&display=swap');
@import '~normalize.css';

html, body { height: 100%; }
body{
	margin: 0;
	padding: 5%;
	font-family: 'Montserrat', sans-serif;

	background-image: url(assets/images/background.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	color: #421940;
}