.menu-wrapper{
	position: fixed;
	right: 8rem;
	height: 10rem;
	top: 10%;

	display: flex;
	flex-direction: column;
	padding: 1rem 0.5rem;

	background: #FBFAF9;
	box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
